.button {
    position: absolute;
    top: 48%;
    left: 48%;
    border: 1px solid #0a3c59;
    background: #539ac9;
    padding: 15px 30px;
    text-shadow: #4b6d82 0 1px 0;
    color: #e6e6e6;
    font-size: 18px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
}
 .button:hover {
    border: 1px solid #0a3c59;
    text-shadow: #1e4158 0 1px 0;
    background: #0a3c59;
    color: #fff;
}
 .button:active {
    text-shadow: #1e4158 0 1px 0;
    border: 1px solid #0a3c59;
    background: #539ac9;
    color: #fff;
}
h1{
    position: relative;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    font-size: 100px;
    top:100px;
}
body{
    text-align: center;
}